<h4>Friends</h4>

<div id="friendships">
  <% @connections.includes(:sender, :receiver) %>
  <% @connections.each do |connection| %>
    <%= Friendship.friend(connection,current_user) %>
    <%= render partial: "remove_friend", locals: { accepted_friendrequest: connection } %>
    <br>
  <% end %>
</div>

<h4>Friend Requests</h4>
<div id="friend_requests">
  <% @friend_requests.includes(:sender) %>
  <% @friend_requests.each do |request| %>
  <%= turbo_frame_tag dom_id(request) do %> 
    <%= request.sender.username %><br>
    <%= render partial: "accept_friendship_form", locals: { friendrequest_id: request.id } %>
  <% end %>
  <% end %>
</div>