<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <% @post = post %>
    <%= render @post %>
    <% like = Like.metadata(post, current_user) %>
    <% unless like.exists? %>
    <%= render partial: "likes/like_button_form", locals: {post_id: post.id} %>
     <% else %>
     <%= render partial: "likes/dislike_button_form", locals: {post_id: post.id, like_id: like.first.id} %>
     <% end %>
    <p>
      <%= link_to "Show this post", post_url(post.creator.username,@post) %>
    </p>
  <% end %>
</div>
