<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <% @post = post %>
    <%= render @post %>
    <%= render partial: "likes/like_dislike_button_form", locals:{ button_name:Like.like_dislike_button(@post, current_user),\
     url: Like.submission_url(@post, current_user) } %>
    <p>
      <%= link_to "Show this post", post_url(params[:username],@post) %>
    </p>
  <% end %>
</div>

<%= link_to "New post", new_post_path if current_user.username == params[:username] %>
