<p style="color: green"><%= notice %></p>
<% post = @post%>
<%= render @post %>

<% like = Like.metadata(post, current_user) %>
<% unless like.exists? %>
<%= render partial: "likes/like_button_form", locals: {post_id: post.id} %>
<% else %>
<%= render partial: "likes/dislike_button_form", locals: {post_id: post.id, like_id: like.first.id} %>
<% end %>

<%= render partial: "edit_links", locals: { post: @post } if current_user.username == params[:username]  %>

<%= render partial: "comments/index", locals: { comments: @comments, level: 1 } %>

<%= stylesheet_link_tag 'posts_show_page' %>
  
<%= javascript_include_tag 'post_page' %>